.mutt/
.config/luakit/luakit-adblock
.config/pianobar/artist
.config/pianobar/nowplaying
.config/pianobar/isplaying
.config/pianobar/out
.config/pianobar/state
.config/pianobar/title
.config/ranger/bookmarks
.config/ranger/history
.config/transmission-daemon/resume/
.config/transmission-daemon/torrents/
.config/transmission-daemon/stats.json
.config/transmission-daemon/dht.dat
.config/transmission-daemon/blocklists/
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate
.mpd/playlists/Main.m3u
.mutt/com*
Scripts/mps
.mpd/playlists/default.m3u
.weechat/logs/*
.weechat/script/
.weechat/urlserver_list.txt
.weechat/weechat.log
.weechat/irc.conf
.weechat/* 
.oh-my-zsh/cache/*
